html,
body,
#root {
  height: 100%;
  margin: 0;
}

.context-menu {
  position: absolute;
  z-index: 1000;
}

.ant-form-item {
  margin-bottom: 2px;
  text-align: left;
}

.ant-collapse-header-text {
  flex: unset !important;
}

.react-flow__node-input,
.react-flow__node-default,
.react-flow__node-output,
.react-flow__node-group {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.88);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.ant-row {
  align-items: center;
}

.react-flow__panel.react-flow__attribution.bottom.right {
  display: none;
}